/* reset css start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset css end */

/* fonts start */

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v18-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* fonts end */

/* common styles start */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    /* Для всех элементов и их псевдоэлементов before и after */
    /* Для правильного размера чтобы сразу с учетом паддингов */
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: #1F2041;
}

/* common styles end */

/* UI-kit colors&type start */
.wrapper {
    max-width: 1440px;
    margin: 0 190px 0 150px;
}

.header__logo {
    padding: 30px 30px;
    margin-bottom: 67px;
}

.colors__type__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colors__rects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 270px;
}

.rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.rect100 {
    background: #1F2041;
}

.rect75 {
    background: rgba(31, 32, 65, 0.75);
}

.rect50 {
    background: rgba(31, 32, 65, 0.5);
}

.rect25 {
    background: rgba(31, 32, 65, 0.25);
}

.rect5 {
    background: rgba(31, 32, 65, 0.05);
}

.rect_purple {
    background: #BC9CFF;
}

.rect_green {
    background: #6FCF97;
}

.rect__description {
    padding: 7px 0;
    width: 165px;
}

.desc__header {
    font-weight: 700;
    font-size: 19px;
}

.desc__color {
    font-size: 19px;
    display: block;
}

.grid_headers__types_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px 48px 15px 48px;
    grid-gap: 50px 30px;
    width: 403px;
    padding-left: 35px;
}

.type__header_common {
    font-family: 'Montserrat', sans-serif;
    color: rgba(31, 32, 65, 0.25);
    justify-self: end;
}

.type__header_h1 {
    font-size: 24px;
}

.type__header_h2 {
    font-size: 19px;
}

.type__header_h3 {
    font-size: 12px;
}

.type__header_body {
    font-size: 14px;
}

.type__desc_24 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #1F2041;
    width: 350px;
}

.type__desc_19 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    color: #1F2041;
}

.type__desc_12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1F2041;
}

.type__desc_14 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 301px;
    color: rgba(31, 32, 65, 0.75);
}

/* UI-kit colors&type end */