doctype html
html(lang="ru")
    include ./modules/head
    body
        include ./modules/logo
        main.main
            .wrapper
                .colors__type__content
                    .colors__rects
                        .rect.rect100
                        .rect__description
                            span.desc__header Dark Shade 100%
                            span.desc__color #1F2041
                        .rect.rect75
                        .rect__description
                            span.desc__header Dark Shade 75%
                            span.desc__color #1F2041
                        .rect.rect50
                        .rect__description
                            span.desc__header Dark Shade 50%
                            span.desc__color #1F2041
                        .rect.rect25
                        .rect__description
                            span.desc__header Dark Shade 25%
                            span.desc__color #1F2041
                        .rect.rect5
                        .rect__description
                            span.desc__header Dark Shade 5%
                            span.desc__color #1F2041
                        .rect.rect_purple
                        .rect__description
                            span.desc__header Purple
                            span.desc__color #BC9CFF
                        .rect.rect_green
                        .rect__description
                            span.desc__header Green
                            span.desc__color #6FCF97
                    .grid_headers__types_container
                        .type__header_h1.type__header_common H1
                        .type__desc_24 This one is the sub-section or widget title
                        .type__header_h2.type__header_common H2
                        .type__desc_19 Next one is the item title inside widgets
                        .type__header_h3.type__header_common H3
                        .type__desc_12 This is a label or CTA text
                        .type__header_body.type__header_common Body
                        .type__desc_14
                            | This is the body text which is used for most of the design, like paragraphs,
                            | lists, etc.